html {
  height: -webkit-fill-available;
}

body {
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg);
  padding: 0 25px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;

  --main-bg: hsl(233, 47%, 7%);
  --card-bg: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --p: hsla(0, 0%, 100%, 0.75);
  --stats: hsla(0, 0%, 100%, 0.6);
}

.card {
  max-width: 100%;
  width: 325px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  background-color: var(--card-bg);
}

.card__img, .card__img * {
  width: 100%;
  height: auto;
}

.card__header {
  position: relative;
  line-height: 0.9;
}
.card__header::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 1px);
  background-color: hsla(277, 81%, 42%, 50%);
}

.card__body {
  padding: 0 30px;
}

.card__title {
  margin: 40px 0 20px;
  color: var(--white);
  line-height: 1.1;
  font-size: 28px;
}

.text-accent {
  color: var(--accent);
}

.card__description {
  line-height: 1.6;
  margin-bottom: 40px;
  color: var(--p);
}

.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stats__item {
  margin-bottom: 25px;
}

.stats__heading {
  line-height: 1.25;
  font-size: 24px;
  margin: 0 0 8px 0;
  color: var(--white);
}

.stats__subheading {
  text-transform: uppercase;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Lexend Deca', sans-serif;
  color: var(--stats);
}

.attribution {
  color: var(--white);
  font-size: 12px;
  font-family: 'Lexend Deca', sans-serif;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
}
.attribution a {
  color: var(--accent);
  font-family: inherit;
}

@media only screen and (min-width: 1160px) {
  .card {
    flex-direction: row-reverse;
    text-align: left;
    width: 1110px;
  }

  .card__body {
    box-sizing: border-box;
    flex-basis: 51%;
    padding: 70px;
    display: flex;
    flex-direction: column;
  }

  .card__header {
    flex-basis: 49%;
  }
  .card__header::after {
    height: calc(100%);
  }

  .card__title {
    margin: 0;
    font-size: 36px;
    line-height: 1.4;
  }

  .card__description {
    font-size: 15px;
    line-height: 1.75;
    max-width: 90%;
  }

  .stats {
    flex-direction: row;
    justify-content: flex-start;
    margin-top: auto;
  }
  
  .stats__item {
    margin: 0 60px 0 0;
  }
}
